%h1 types of interactions

.nav
  = link_to 'new type', new_interaction_type_path


.interaction_types_page
  
  - @interaction_types.each do |interaction_type|
    = link_to interaction_type.name, interaction_type
    \:
    #{interaction_type.points}
    %br/
        