<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interaction_type.name %>
</p>


<%= link_to 'Edit', edit_interaction_type_path(@interaction_type) %> |
<%= link_to 'Back', interaction_types_path %>
