
html, body 
  height: 100%
	
body
  background-color: #fff
  color: #333
  font-family: 'Josefin Slab', arial, helvetica, sans-serif
  font-size: 25px
  line-height: 25px

p, ol, ul, td, textarea, input, select
  font-family: 'Josefin Slab', arial, helvetica, sans-serif
  font-size: 25px
  line-height: 25px
  
  
  
textarea, input
  border: 1px solid #eee
  padding: 5px
  color: #555

  &[type=submit]
    border: 1px solid #ccc
    color: #aaa
    background-color: #fff
    cursor: pointer
   
    &:hover
      color: #DB7093
  
  &:hover
    border: 1px solid #aaa
    

textarea
  width: 680px
  height: 180px
  padding: 10px



pre
  background-color: #eee
  padding: 10px
  font-size: 11px

a
  color: #DB7093
  text-decoration: none
  &:visited
    color: #DB7093
  &:hover
    color: #fff
    background-color: #DB7093
    
h1
  text-align: center

div
  &.field, &.actions
    margin-bottom: 10px

.notice, .alert
  text-align: center
  color: #DB7093
  padding: 10px

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid #DB7093
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #DB7093
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #DB7093
    color: #fff
  ul li
    font-size: 12px
    list-style: square


.wrapper 
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -160px



.header
  width: 700px
  margin: 0px auto
  margin-bottom: 5px
  border-bottom: 1px solid #ddd
  padding: 10px
  font-size: 25px
  color: #333
  
  a
    color: #333
    
    &:hover
      color: #fff
      
  .links
    float: right
    
    a
      color: #DB7093
      
      &:hover
        color: #fff
  

.content
  width: 700px
  margin: 0px auto


.footer, .footer_push
  height: 140px

.footer
  text-align: center
  font-size: 20px
  width: 700px
  margin: 0px auto
  margin-top: 40px 
  border-top: 1px solid #ddd
  padding: 10px 
  
  a
    padding-left: 10px
    padding-right: 10px
    
    
.nav
  clear: both
  text-align: center
  font-size: 20px
  width: 700px
  margin: 0px auto
  padding: 10px 
  
  a
    padding-left: 10px
    padding-right: 10px
    
.admin
  text-align: right
  font-size: 20px
  width: 700px
  margin: 0px auto
  padding: 10px 
  
  a
    padding-left: 20px
  



.ui-autocomplete
  width: 300px
  list-style: none
  
  ul
    -webkit-padding-start: 0px
  
  li
    padding: 5px
    font-family: 'Josefin Slab', arial, helvetica, sans-serif
    border-bottom: 1px solid #eee



.ui-timepicker-div .ui-widget-header
  margin-bottom: 8px
.ui-timepicker-div dl
  text-align: left
.ui-timepicker-div dl dt
  height: 25px
.ui-timepicker-div dl dd
  margin: -25px 0 10px 65px
.ui-timepicker-div td 
  font-size: 90%
  
  
a.friend_needs_interaction
  background-color: #DB7093
  color: #fff


.history

  .interaction 
    height: 20px
    padding-top: 5px
    border-top: 1px solid #ddd
    font-size: 15px
    clear: both
    
    div
      float: left
      padding: 5px
      width: 150px
  
    .date
      color: #000
      
    .description
      width: 350px
      
      


.portrait
  padding: 5px
  text-align: center

  img
    outline: 1px solid #aaa





.friend_page
  
  .info
    width: 350px
    float: left
  
    .status
      text-transform: lowercase
      padding: 10px
      text-align: center
    

  .notes
    width: 350px
    float: left
    
    form
      width: 350px
    
    textarea
      width: 340px
      height: 180px
    
    .actions
      padding: 0px
    
    
    
    

.frequencies_page
  text-align: center
  
  input
    text-align: center
  

.interaction_types_page
  text-align: center
  
  
  
form
  width: 700px
  
  .actions
    padding-top: 20px
    text-align:center
    
    
.dashboard

  .friends
    text-align: center
