html, body {
  height: 100%; }

body {
  background-color: white;
  color: #333333;
  font-family: "Josefin Slab", arial, helvetica, sans-serif;
  font-size: 25px;
  line-height: 25px; }

p, ol, ul, td, textarea, input, select {
  font-family: "Josefin Slab", arial, helvetica, sans-serif;
  font-size: 25px;
  line-height: 25px; }

textarea, input {
  border: 1px solid #eeeeee;
  padding: 5px;
  color: #555555; }
  textarea[type=submit], input[type=submit] {
    border: 1px solid #cccccc;
    color: #aaaaaa;
    background-color: white;
    cursor: pointer; }
    textarea[type=submit]:hover, input[type=submit]:hover {
      color: #db7093; }
  textarea:hover, input:hover {
    border: 1px solid #aaaaaa; }

textarea {
  width: 680px;
  height: 180px;
  padding: 10px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #db7093;
  text-decoration: none; }
  a:visited {
    color: #db7093; }
  a:hover {
    color: white;
    background-color: #db7093; }

h1, h2 {
  text-align: center; }

div.field, div.actions {
  margin-bottom: 10px; }

.notice, .alert {
  text-align: center;
  color: #db7093;
  padding: 10px; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid #db7093;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #db7093; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #db7093;
    color: white; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px; }

.header {
  width: 700px;
  margin: 0px auto;
  margin-bottom: 5px;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  font-size: 25px;
  color: #333333; }
  .header a {
    color: #333333; }
    .header a:hover {
      color: white; }
  .header .links {
    float: right; }
    .header .links a {
      color: #db7093; }
      .header .links a:hover {
        color: white; }

.content {
  width: 700px;
  margin: 0px auto; }

.footer, .footer_push {
  height: 140px; }

.footer {
  text-align: center;
  font-size: 20px;
  width: 700px;
  margin: 0px auto;
  margin-top: 40px;
  border-top: 1px solid #dddddd;
  padding: 10px; }
  .footer a {
    padding-left: 10px;
    padding-right: 10px; }

.nav {
  clear: both;
  text-align: center;
  font-size: 20px;
  width: 700px;
  margin: 0px auto;
  padding: 10px; }
  .nav a {
    padding-left: 10px;
    padding-right: 10px; }

.admin {
  text-align: right;
  font-size: 20px;
  width: 700px;
  margin: 0px auto;
  padding: 10px; }
  .admin a {
    padding-left: 20px; }

.friendname_autocomplete {
  width: 600px; }

.ui-autocomplete {
  width: 300px;
  list-style: none; }
  .ui-autocomplete ul {
    -webkit-padding-start: 0px; }
  .ui-autocomplete li {
    padding: 5px;
    font-family: "Josefin Slab", arial, helvetica, sans-serif;
    border-bottom: 1px solid #eeeeee; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }

.ui-timepicker-div td {
  font-size: 90%; }

a.friend_needs_interaction {
  background-color: #db7093;
  color: white; }

.history .interaction {
  height: 20px;
  padding-top: 5px;
  border-top: 1px solid #dddddd;
  font-size: 15px;
  clear: both; }
  .history .interaction div {
    float: left;
    padding: 5px;
    width: 150px; }
  .history .interaction .date {
    color: black; }
  .history .interaction .description {
    width: 350px; }

.friend_portrait {
  padding: 5px;
  text-align: center; }
  .friend_portrait img {
    outline: 1px solid #aaaaaa; }

.best_friends {
  text-align: center; }

.friend_page ul {
  list-style: none; }
.friend_page li {
  display: inline; }
.friend_page .info {
  width: 350px;
  float: left; }
  .friend_page .info .status {
    text-transform: lowercase;
    padding: 10px;
    text-align: center; }
.friend_page .notes {
  width: 350px;
  float: left; }
  .friend_page .notes form {
    width: 350px; }
  .friend_page .notes textarea {
    width: 340px;
    height: 180px; }
  .friend_page .notes .actions {
    padding: 0px; }

.frequencies_page {
  text-align: center; }
  .frequencies_page input {
    text-align: center; }

.interaction_types_page {
  text-align: center; }

form {
  width: 700px; }
  form .actions {
    padding-top: 20px; }

.dashboard .friends {
  text-align: center; }

.hidden {
  display: none; }

.pagination {
  text-align: center; }
