%h1 interaction frequencies

.nav
  = link_to 'new frequency', new_frequency_path

.frequencies_page
  - @frequencies.each do |frequency|
    = link_to frequency.name, frequency_path(frequency)
    \: 
    = frequency.number_of_days
    %br/      
        
