<h1><%= title("Import from Facebook") %></h1>
    
  
<div class='buttons loggedout'>
  <button id="login">Login</button>
</div>
<div class='buttons loggedin'>
  <button onclick='saveSelectedPotentialFriends()'>Import The Selected Friends Name & Photo</button>
  <button id="logout">Logout from Facebook</button>
</div>

<div style="clear:both"></div>

<div id="loading" style="display: none;">Importing...</div>
<div id="import_success_list" style="display: none;">Successfully imported: </div>
  

<br/>

<h2 class='title' style="display: none;"></h2>



<div id="potentialfriendlist"></div>
<div style="clear:both"></div>




<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>


  var potentialfriends = [];


  // initialize the library with the API key
  FB.init({ apiKey: '266664523344909' });

  // fetch the status on load
  FB.getLoginStatus(handleSessionResponse);

  $('#login').bind('click', function() {
    FB.login(handleSessionResponse);
    $('.loggedout').hide();
    $('.loggedin').show();
  });

  $('#logout').bind('click', function() {
    FB.logout(handleSessionResponse);
    $('.loggedout').show();
    $('.loggedin').hide();
  });

  $('#disconnect').bind('click', function() {
    FB.api({ method: 'Auth.revokeAuthorization' }, function(response) {
      clearDisplay();
    });
  });
  
  
  $('.potentialfriend').live('click', function() {
    $(this).toggleClass('selected');
  });
  


  // handle a session response from any of the auth related calls
  function handleSessionResponse(response) {
    // if we dont have a session, just hide the user info
    if (!response.session) {
      $('.title').hide('fast');
      $('#potentialfriendlist').empty();
      
      $('.loggedout').show();
      $('.loggedin').hide();
      return;
    } else {
      $('.loggedout').hide();
      $('.loggedin').show();
    }

    FB.api('/me',
      function(response) {
        $('.title').html(response.name+  "'s Facebook Friends").show('fast');
      }
    );
    
    
    FB.api('/me/friends', function(response) {
    
      for( i=0; i < response.data.length; i++) {
        var friend = {};
        friend.id = response.data[i].id;
        friend.name = response.data[i].name;
        friend.photo = {
          small: 'http://graph.facebook.com/' + response.data[i].id + '/picture?type=small',
          square: 'http://graph.facebook.com/' + response.data[i].id + '/picture?type=square',
          normal: 'http://graph.facebook.com/' + response.data[i].id + '/picture?type=normal',
          large: 'http://graph.facebook.com/' + response.data[i].id + '/picture?type=large'
        };
        
        potentialfriends.push(friend); 
      }
      
      showPotientialFriends(); 
    });
    
  }
  
  

  
  function showPotientialFriends() {
    $('#potentialfriendlist').empty();
    
    $(potentialfriends).each(function(index, friend){
      $('#potentialfriendlist').append('<div data-friendindex="'+index+'" class="potentialfriend"><img src="' + friend.photo.normal + '" />' + friend.name + "</div>");
    });
  }
  
  
  window.loadingCount = 0;
  
  function saveSelectedPotentialFriends() {
    var selectedFriends = [];
    $('.potentialfriend.selected').each(function(index, frienddiv){
      var friendindex = parseInt($(frienddiv).data('friendindex'), 10);
      
      if (friendindex) {
        selectedFriends.push(potentialfriends[friendindex]);
      }
      
      $(frienddiv).removeClass('selected');
    });
    
    loadingCount = selectedFriends.length;
    $('.loggedin').hide();
    $('#loading').show();
    
    $.each(selectedFriends, function(index, friend){
    
      $.post('/friends', 
        { 
          'friend[name]': friend.name,
          'friend[remote_portrait_url]': friend.photo.large
        }, 
        function(data) {
          if (data.errors) {
            var error_string = '';
            if (data.errors.name) {
              error_string = friend.name + ': Name ' + data.errors.name[0];
            }
          } else {
            $('#import_success_list').hide().html($('#import_success_list').html() + " <a href='/friends/"+data.slug+"'>" + friend.name + "</a>").fadeIn();
          }
          
          loadingCount = loadingCount - 1;
          if (loadingCount == 0) {          
            $('.loggedin').show();
            $('#loading').hide();
          }
        },
        'json'
      );
  
    });

  }
  
  
  
</script>
    
    
    
    