%h1
  = title("settings")

.nav
  = link_to 'interaction frequencies', frequencies_path, {"data-role" => "button"}
  %br/
  = link_to 'types of interactions', interaction_types_path, {"data-role" => "button"}
